/* custom.css */
.shadow-top {
  box-shadow: -5px -5px 10px 5px #d2d1d1;
}

.chatbar {
  overflow-y: auto; /* Allow scrolling */
  scrollbar-width: none; /* Hide scrollbar for Firefox */
}
@media (max-width: 620px) {
  .chatbar {
      width: 100%;
      margin: 0; /* Remove margins on the x-axis */
  }
}